@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary:#6151C3;
    --secondary:#080713;
    --primary_2:#EFEEF9;
    --primary_3:#6151C3;
}
body{
   background-color:#D6D6D6;
   font-family:sans-serif;
}
